<h1><%= @event.name %></h1>

<a href='#' id='rsvp_yes'>I'm attending!</a> with <span id='rsvp_yes_count'>0</span> others!
<a href='#' id='rsvp_no'>Can't make it!</a> <span id='rsvp_no_count'>0</span> others couldn't!

<p><%=@event.description.html_safe %></p>