# this file is optional in the dev and test environments.
# See initializers/config.rb for defaults for dev and test
development:
meetup.api.key: 64876890385457
test:
meetup.api.key: 64876890385457
production:
meetup.api.key: 64876890385457